---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import logo from "../assets/BARBERSHOP2.png";
import Accordion from "../components/Accordion.astro";
---

<Layout>
  <main class="bg-zinc-900">
    <header
      class="relative h-[calc(100vh-80px)] px-4 bg-[url('../assets/2ea07ff551c12ee2fecd2d2ce198a3d3.jpg')] bg-cover bg-center bg-no-repeat bg-fixed grayscale"
    >
      <div class="absolute inset-0 bg-black opacity-80"></div>
      <div
        class="relative z-10 flex flex-col items-center justify-center h-full text-white text-center p-4 gap-6"
      >
        <h1 class="hidden">RICHMOND BARBERSHOP</h1>
        <Image
          src={logo}
          alt="Richmond barbershop logo"
          class="w-3xl contrast-200"
        />
        <a
          href="https://www.acuityscheduling.com"
          class="bg-black text-white font-bold py-4 px-8 rounded-md text-lg uppercase tracking-wider border-2 border-white hover:bg-white hover:text-black transition-colors"
          >Book Now</a
        >
      </div>
    </header>

    <!-- <section class="bg-zinc-900 text-white py-20 px-4 text-center"> -->
    <!--   <h2 class="text-5xl font-bold mb-16">Our Services</h2> -->
    <!--   <div -->
    <!--     class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 max-w-7xl mx-auto" -->
    <!--   > -->
    <!--     <div -->
    <!--       class="bg-zinc-700 p-8 rounded-lg border-2 border-primary transform hover:scale-105 transition-transform" -->
    <!--     > -->
    <!--       <h3 class="text-3xl font-bold mb-4 text-primary">Haircut</h3> -->
    <!--       <p class="text-xl">$40</p> -->
    <!--     </div> -->
    <!--     <div -->
    <!--       class="bg-zinc-700 p-8 rounded-lg border-2 border-primary transform hover:scale-105 transition-transform" -->
    <!--     > -->
    <!--       <h3 class="text-3xl font-bold mb-4 text-primary">Beard Trim</h3> -->
    <!--       <p class="text-xl">$20</p> -->
    <!--     </div> -->
    <!--     <div -->
    <!--       class="bg-zinc-700 p-8 rounded-lg border-2 border-primary transform hover:scale-105 transition-transform" -->
    <!--     > -->
    <!--       <h3 class="text-3xl font-bold mb-4 text-primary">Hot Shave</h3> -->
    <!--       <p class="text-xl">$30</p> -->
    <!--     </div> -->
    <!--     <div -->
    <!--       class="bg-zinc-700 p-8 rounded-lg border-2 border-primary transform hover:scale-105 transition-transform" -->
    <!--     > -->
    <!--       <h3 class="text-3xl font-bold mb-4 text-primary">Kids Cut</h3> -->
    <!--       <p class="text-xl">$25</p> -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </section> -->

    <section class="py-20 px-4 text-center">
      <h2 class="text-5xl font-bold mb-16 text-white">Gallery</h2>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 max-w-7xl mx-auto"
      >
        <img
          src="https://images.unsplash.com/photo-1521590832167-7bcbfaa6381f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="A photo of a barbershop"
          class="w-full h-80 object-cover rounded-lg transform hover:scale-105 transition-transform"
        />
        <img
          src="https://images.unsplash.com/photo-1521590832167-7bcbfaa6381f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="A photo of a barbershop"
          class="w-full h-80 object-cover rounded-lg transform hover:scale-105 transition-transform"
        />
        <img
          src="https://images.unsplash.com/photo-1521590832167-7bcbfaa6381f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="A photo of a barbershop"
          class="w-full h-80 object-cover rounded-lg transform hover:scale-105 transition-transform"
        />
        <img
          src="https://images.unsplash.com/photo-1521590832167-7bcbfaa6381f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="A photo of a barbershop"
          class="w-full h-80 object-cover rounded-lg transform hover:scale-105 transition-transform"
        />
      </div>
    </section>
    <section class="py-20 px-4 text-center">
      <h2 class="text-5xl font-bold mb-16 text-white">FAQ</h2>
      <div>
        <Accordion title="Who?">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </Accordion>
        <Accordion title="Why?">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </Accordion>
        <Accordion title="Where?">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </Accordion>
        <Accordion title="How?">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </Accordion>
      </div>
    </section>

    <section class="text-white py-20 px-4">
      <div class="max-w-7xl mx-auto text-center">
        <h2 class="text-5xl font-bold mb-16">Contact Us</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-16 items-center">
          <div class="text-center flex flex-col gap-2">
            <h3 class="text-4xl font-bold text-primary">Contact</h3>
            <a
              href="tel:+15551234567"
              class="text-2xl text-white hover:text-primary transition-colors mb-8"
              >(555) 123-4567</a
            >
            <h3 class="text-4xl font-bold text-primary">Location</h3>
            <p class="text-2xl">123 Braddock Road</p>
            <p class="text-2xl">Richmond, VA 22555</p>
            <div class="mt-8">
              <a
                href="https://www.google.com/maps/dir/?api=1&destination=123+Braddock+Rd+Richmond+VA"
                target="_blank"
                class="bg-black text-white font-bold py-4 px-8 rounded-md text-lg uppercase tracking-wider hover:bg-white hover:text-black transition-colors border-2 border-white"
                >Get Directions</a
              >
            </div>
          </div>
          <div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d202330.83510657928!2d-77.60939301396396!3d37.52540687225345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b111095799c9ed%3A0xbfd83e6de2423cc5!2sRichmond%2C%20VA%2C%20USA!5e0!3m2!1sen!2sca!4v1692892959162!5m2!1sen!2sca"
              width="100%"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              title="Richmond Barber Location"
              class="rounded-lg grayscale"></iframe>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="text-white text-center py-8 px-4 bg-zinc-950">
    <p>&copy; 2025 Richmond Barber. All rights reserved.</p>
  </footer>
</Layout>
